@media (max-width:800px){
    .types {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 50px 20px;
        }
        .types .saloon {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            position: relative;
            margin-bottom: 30px;
        }
}